@import "./_variables";

*,
html {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

//Animations
@keyframes picOnMove {
  0% {
    width: 130vw;
    opacity: 1;
  }

  100% {
    width: 100vw;
    opacity: 1;
  }
}

@keyframes headerLift {
  0% {
    height: 0vh;
    display: flex;
  }

  100% {
    height: 100vh;
    display: flex;
  }
}

@keyframes appearOnTheScreen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appearMenu {
  0% {
    opacity: 0;

  }

  80% {
    opacity: 1;
  }



  100% {
    opacity: 1;
  }
}

@keyframes appearPicsHeader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes topStartOne {
  0% {
    height: 0%;
    opacity: 1;
    width: 100%;
  }

  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes topStartTwo {
  0% {
    top: 0%;
    width: 100%;
    opacity: 1;
  }

  100% {
    top: 100%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes textAppear {
  0% {
    top: 120px;
    opacity: 0;

  }

  100% {
    top: 10px;
    opacity: 1;
  }
}

@keyframes effectBordurLeftRight {
  0% {
    width: 0%;
    opacity: 1;

  }

  100% {
    width: 100%;
    opacity: 1;


  }
}

@keyframes effectPresentationLeftRight {
  0% {
    width: 0%;
    opacity: 1;
    height: 2px;

  }

  100% {
    width: 100%;
    height: 2px;
    opacity: 1;
  }
}

//Class

//class shared
.appear_title {
  animation: appearOnTheScreen 1s ease-in-out forwards;
  width: auto;
  margin-left: 1rem;
  position: relative;
  height: 5rem;


  &:after {
    content: "";
    border-bottom: 3px solid black;
    position: absolute;
    top: 3.6rem;
    left: 0rem;
    opacity: 0px;
    animation: effectBordurLeftRight 1s ease-out 1s forwards;
  }
}

//Header
.effect_header {
  animation: headerLift 1s ease-in-out forwards;
}

.li_effect {
  animation: textAppear 0.1s ease forwards;

  &:nth-child(6) {
    animation-delay: 0.1s;
  }

  &:nth-child(5) {
    animation-delay: 0.2s;
  }

  &:nth-child(4) {
    animation-delay: 0.3s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }

  &:nth-child(2) {
    animation-delay: 0.5s;
  }

  &:nth-child(1) {
    animation-delay: 0.7s;
  }
}

.iconeColor {
  color: red;
}

.pic_effect_one {
  animation: picOnMove 20s linear infinite;
}

.pic_effect_two {
  animation: picOnMove 20s linear infinite;
}

//NavBar
.nav_link {
  text-decoration: none;
  color: $primary;
}

.nav_scroll {
  background-color: white;
  border-bottom: 2px solid pink;
  color: $secondary;
  text-decoration: none;
  animation: navBackgroundDown 2s;
  z-index: 100;
}

.selected {
  color: $secondary;
}

//About
.appear_effect {
  animation: appearOnTheScreen 1s ease-in-out forwards;
}

.appear_pics {
  animation: appearOnTheScreen 1s ease-in-out forwards;
}

//Menus
.menu_hover {
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.change span:first-child {
  transform: rotate(-45deg) translate(-1px, 1px);
  transition-property: transform;
  transition-duration: 3s;
}

.change span:nth-last-child(2) {
  opacity: 0;
  transition-property: transform;
  transition-duration: 1s;
}

.change span:nth-child(3) {
  -webkit-transform: rotate(10deg) translate(-7px, -8.5px);
  transform: rotate(42deg) translate(-7px, -8.5px);
  transition-property: transform;
  transition-duration: 1s;
}

.appear_title_effect {
  animation: appearOnTheScreen 2s ease-in-out forwards 3.8s;
}

.cart_presentation_effect {

  animation: effectPresentationLeftRight 1s ease-in-out forwards, topStartOne 3s linear 1s forwards;

}

.menu_effect {
  animation: textAppear 0.5s ease-in-out forwards;

  &:nth-child(2) {
    animation-delay: 0.7s;
  }

  &:nth-child(3) {
    animation-delay: 0.9s;
  }

  &:nth-child(4) {
    animation-delay: 1.1s;
  }
}

//Gallery
.meal_pic_effect {
  animation: textAppear 0.2s ease-in-out forwards;

  &:nth-child(2) {
    animation-delay: 0.4s;
  }

  &:nth-child(3) {
    animation-delay: 0.6s;
  }

  &:nth-child(4) {
    animation-delay: 0.8s;
  }

  &:nth-child(5) {
    animation-delay: 1s;
  }

  &:nth-child(6) {
    animation-delay: 1.2s;
  }
}

/**********************************************End CLASS *****************************************/
body {
  width: 100vw;
  background-color: #f5f4ed;

  #root {

    .nav_desktop {
      display: block;


      ul {
        @include flexDisplay(row, center);
        list-style: none;
        position: fixed;
        height: 10vh;
        z-index: 100;
        width: 100%;


        li {
          text-decoration: none;
          margin-top: 1.5rem;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.4rem;
          width: auto;
          color: $primary;

        }
      }
    }

    .nav_mobile {
      display: none;
      height: 15vh;
      background-color: $secondary;
      opacity: 1;
      position: relative;

      #burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        width: auto;
        right: 1rem;
        height: 3rem;
        z-index: 20;
        justify-content: center;


        span {
          border-top: 4px solid pink;
          border-radius: 4px;
          margin-bottom: 2px;
          width: 5vw;
          font-weight: bold;
        }
      }

      ul {
        position: fixed;
        display: none;
        background-color: $secondary;
        color: $primary;
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        z-index: 10;
        width: 100%;

        li {
          text-align: center;
          opacity: 0;
          cursor: pointer;


          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    header {
      height: 100vh;
      width: 100vw;
      position: relative;
      overflow: hidden;

      .headerSlider {
        height: 100%;
        top: 0px;
        z-index: -1;
        opacity: 1;

        img {

          width: 100vw;
          height: 100vh;
          position: absolute;
          top: 0px;
          z-index: -1;

        }

        div {
          display: none;
          font-weight: bold;
          color: $primary;
          font-size: 2rem;
          display: flex;
          top: 70vh;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          height: 20vh;

          h5 {
            margin-left: auto;
            margin-right: auto;
            text-align: center;

          }

          ul {
            margin-top: 3rem;
            position: absolute;
            display: flex;
            justify-content: center;
            list-style: none;
            bottom: 0px;
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);

            li {
              text-align: center;
              width: 4rem;
              color: white;
            }
          }
        }
      }
    }

    .about_section {
      margin-top: 5rem;

      .about {
        @include flexDisplay(row, space-around);
        align-items: center;
        display: flex;
        background-color: #f5f4ed;
        padding-left: 1rem;
        padding-right: 1rem;

        div {
          flex: 1;
          height: 100%;
          overflow: hidden;
          height: 60vh;

          &:nth-child(2) {

            display: flex;
            height: auto;

            p {

              margin: auto;

              line-height: 1.9rem;
              font-family: "Playfair Display", serif;
              text-align: justify;
              text-justify: inter-word;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            }
          }

          img {
            width: 80%;
            height: 100%;

          }
        }



      }

      .our_restaurant {
        @include flexDisplay(column, space-between);
        height: 95vh;
        align-items: center;
        margin-top: 2.5rem;

        h1 {
          opacity: 0;
          text-align: left;
          color: black;
          letter-spacing: 2px;
          font-size: 3rem;
          align-self: flex-start;
          height: auto;
          height: 5rem;

        }

        div {

          display: flex;
          align-items: center;
          justify-content: center;
          height: auto;
          height: 100%;


          div {

            flex: 20;
            height: 100%;

            img {
              height: 85%;
              width: 100%;
              opacity: 0;
            }
          }

          span {
            flex: 1;
            color: $secondary;
            margin-left: 1rem;
            margin-right: 1rem;
            text-align: center;
          }


        }
      }
    }

    #Menus {

      @include flexDisplay(column, center);
      align-items: center;

      .menu_title {
        opacity: 0;
        text-align: center;
        color: black;
        font-family: 'Great Vibes',
          cursive;
        letter-spacing: 2px;
        font-size: 4rem;
        align-self: flex-start;
        height: 5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
      }

      .container_cart {

        .cart {
          background-color: #f5f4ed;


          .container {
            @include flexDisplay(row, space-around);
            position: relative;
            opacity: 0;
            margin-top: 2.5rem;

            h1 {
              color: #523a3a;
              border: 2px solid pink;
              border-radius: 4px 4px;
              background-color: white;

              font-size: 1.5rem;
              width: auto;
              position: absolute;
              padding-left: 1rem;
              padding-right: 1rem;


            }

            .menus {
              margin-top: 2.5rem;


              div {
                margin-top: 2rem;
                text-align: center;

                h3 {
                  text-align: center;
                }

                p {
                  line-height: 1.3rem;
                }
              }
            }
          }
        }
      }
    }

    .gallery_section {
      @include flexDisplay(column, center);
      margin-top: 5rem;

      h1 {
        top: 0;
        left: 0;
        opacity: 0;
        text-align: left;
        color: black;
        letter-spacing: 1px;
        font-size: 3rem;
        width: 9rem;
      }

      .meal_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;

        figure {
          margin-right: 2rem;
          margin-left: 2rem;
          margin-top: 2rem;
          position: relative;
          opacity: 0;

          img {
            width: 100%;
            height: 50vh;
          }

          div {
            background-color: $secondary;

            opacity: 0.5;
            padding-top: -3rem;
            position: absolute;
            height: 2.5rem;
            text-align: center;
            bottom: 0%;
            width: 10em;
            margin-left: 50;
            left: 50%;
            transform: translateX(-50%);

            p {
              opacity: 1;
              color: white;
              font-weight: bold;
            }
          }

          ul {
            li {
              margin-left: 1rem;
            }
          }
        }
      }

      .picture_big {
        position: fixed;
        z-index: 3;
        width: 100vw;
        height: 95vh;
        margin-top: 0rem;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        top: 3rem;

        .content_pic {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 7rem;
          border: 2px solid $secondary;

          span {
            position: absolute;
            left: 95%;
            top: 3rem;
            font-style: 4rem;
            color: $secondary;
            width: auto;
          }

          img {
            border: 1px solid $secondary;
            width: 100%;
            height: 70vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    .contact {
      margin-top: 2rem;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      border: 1px solid #f5f4ed;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      .title_contact {

        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h1 {
          font-size: 2rem;
        }

        p {
          font-family: Dancing Script, cursive;
        }

      }

      .contact_details {
        @include flexDisplay(row, center);
        flex-wrap: wrap;
        margin-top: 7rem;
        margin-left: auto;
        margin-right: auto;

        form {
          width: 40rem;

          div {
            margin-top: 2rem;
            position: relative;
            overflow: visible;
            display: flex;
            justify-content: center;

            input {
              height: 2rem;
              border-radius: 3px;
              width: 100%;
            }

            .submit_button {
              width: 80%;
              margin-left: auto;
              margin-right: auto;
            }

            .error_message {
              margin-top: 0rem;
              position: absolute;
              width: auto;
              z-index: 19;
              top: 2.4rem;
              background-color: $secondary;
              color: white;
              animation: appearOnTheScreen 1s ease-in-out;
              border-radius: 2px;

            }

          }

          .message_from_user {
            textarea {
              height: 30vh;
              border-radius: 3px;
              width: 100%;
            }
          }

        }

        .address_hours {
          width: 40vw;
          text-align: center;

          div {
            margin-top: 2rem;

            p {
              line-height: 1.5rem;
              margin-left: 0px;


            }
          }


        }

      }

    }
  }

  @media only screen and (max-width: 800px) {
    #root {
      .nav_desktop {
        display: none;
      }

      .nav_mobile {
        display: block;
        height: 0vh;

      }

      .about_section {
        .about {
          height: auto;
          @include flexDisplay(column, space-around);

          div {
            &:nth-child(2) {
              margin-top: 1rem;

              p {
                margin-top: 2rem;
                margin-bottom: 2rem;

              }
            }

            img {
              width: 100%;
              flex: 2;
            }
          }

        }

        .our_restaurant {
          height: 90vh;
          margin-top: 0rem;
        }

      }

      #Menus {

        .main_cart_presentation,
        .cart_presentation_effect {
          box-shadow: 0px 0px;
          animation: effectPresentationLeftRight 0s ease-in-out forwards,
            topStartOne 0s linear 0s forwards;

          .appear_title_effect {
            display: none;
          }
        }
      }

      .gallery_section {
        .picture_big {
          top: 0rem;
          height: 100vh;

          .content_pic {
            span {

              left: 50%;
              transform: translateX(-50%);
            }
          }

        }
      }

    }
  }

  @media only screen and (min-width: 2000px) {
    #root {
      #Home {
        #About {
          .about {
            div {
              p {
                font-size: 4rem;
              }
            }

          }
        }
      }
    }
  }
}